# Titanic classifaction Project

In [57]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Load the Dataset

In [58]:
titanic = sns.load_dataset('titanic')

In [59]:
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

## Data preprossing steps

In [60]:
titanic.dropna(subset=['embarked', 'age'], inplace=True)
titanic['age'] = LabelEncoder().fit_transform(titanic['age'])
titanic['embarked'] = LabelEncoder().fit_transform(titanic['embarked'])

# Features and Target Variable

In [61]:
X = titanic[['pclass',  'age', 'fare', 'embarked']]
y = titanic['survived']

## Splitting the dataset into test and train data

In [62]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Model training

In [56]:
model = LogisticRegression()  # Create a Logistic Regression model
model.fit(X_train, y_train)  # Train the model on the training data

# Model Prediction

In [37]:
y_pred = model.predict(X_test)

## Model Evaluation

In [38]:
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 0.66

In [42]:
accuracy1 = (y_pred == y_test).mean()
print(accurac)

0.6643356643356644